.feedRight{
    position: fixed;
    display: flex;
    margin: 80%;
    flex-direction: column;
    margin-top: 9.7vh;
    background-color: #bebebe;
    width: 20%;
    height: 100vh;
    padding: 2rem;
}

.Contatos div{
    margin: .1rem;
}

.Contatos div:hover{
    background-color: #cfcfcf;
    border-radius: 10rem;
}